<h1>Contact Info.</h1>
<p>Phone Number: <%= number_to_phone '4695364555' %></p>
<p><a href="mailto:dallineliason13@gmail.com?subject=PortfolioContact""email me">Email me</a></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3342.4778875662582!2d-96.62585828533578!3d33.096518074933776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c108857cb1589%3A0xbd30cb111f6df2bf!2s1704+Solitude+Ct%2C+Allen%2C+TX+75002!5e0!3m2!1sen!2sus!4v1519072276658" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
