<h1>Hi, <%= current_user.first_name %></h1>

            

          <div class="inner cover">
            <h1 class="cover-heading">Welcome.</h1>
            <p class="lead">Here are a few of the projects that I've been working on.</p>
            <p class="lead">
              <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
          </div>

         

      
